! to add program-specific stuff, create a new file with the config
! in the .Xresources.d and use the following syntax:
! #if __has_include("path/to/file")
! #include("path/to/file")
! #endif
! 
! color schemes should be defined in the themes directory
! to use a specific theme, symlink it to "current"

! colors
#if __has_include(".Xresources.d/themes/current")
#include ".Xresources.d/themes/current"
#endif

! fonts
#if __has_include(".Xresources.d/fonts")
#include ".Xresources.d/fonts"
#endif

! urxvt
#if __has_include(".Xresources.d/urxvt")
#include ".Xresources.d/urxvt"
#endif

! rofi
#if __has_include(".Xresources.d/rofi")
#include ".Xresources.d/rofi"
#endif

