!#if __has_include(".extend.Xresources")
!#include ".extend.Xresources"
!#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! --- Fonts ---

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! --- Cursor ---

Xcursor.theme: Breeze
Xcursor.size:  0

! --- XTerm ---

!XTerm*pointerColor: #16A085
XTerm*reverseVideo: on
XTerm*faceName: Terminus:size=11:antialias=true
XTerm*selectToClipboard: true

! ---URxvt---

!URxvt.font: 9x15
URxvt*font: xft:DejaVu Sans Mono:style=Book:pixelsize=14
URxvt*boldFont: xft:DejaVu Sans Mono:style=Bold:pixelsize=14
!URxvt.depth: 32
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
!URxvt*background:                     black
!URxvt*foreground:                     grey
URxvt*saveLines:                      5000
URxvt.transparent:                    false

! Custom colors!
! special
*.foreground:   #9b9081
*.background:   #181b20
*.cursorColor:  #9b9081

! black
*.color0:       #353535
*.color8:       #5f5f5f

! red
*.color1:       #744b40
*.color9:       #785850

! green
*.color2:       #6d6137
*.color10:      #6f6749

! yellow
*.color3:       #765636
*.color11:      #776049

! blue
*.color4:       #61564b
*.color12:      #696057

! magenta
*.color5:       #6b4a49
*.color13:      #6f5a59

! cyan
*.color6:       #435861
*.color14:      #525f66

! white
*.color7:       #b3b3b3
*.color15:      #cdcdcd

! ---------- Rofi ----------

rofi.opacity:	80
!rofi.width:	100
rofi.lines:	10
!rofi.eh:	2
!rofi.bw:	0
!rofi.padding:	200
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid
